<meta name="viewport" content="width=device-width, initial-scale=1">
    <form>  
        <div class="container">  
          <div class="user"> 
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
          </div>
          <div class="pass">
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
          </div>
            <button type="submit">Login</button>   
            <div class="forgot"> 
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
            </div>
          </div>   
    </form>     